/* Style your header, navigation, content, footer, etc. here */
body {
  background-color: skyblue;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f1f1f1;
  
}

.header-container {
  background-color: fuchsia;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.header-navigation {
  background-color: pink;
  display: flex;
  justify-content: end;
  padding-right: 40px;
  font-size: 1.2rem;
}

.container {
  background-color: gray;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: end
}

.logo {
  display: flex;
  margin-top: 80px;
  margin-bottom: 0;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.nav-toggle {
  display: none; /* Hide on large screens */
  cursor: pointer;
}

.nav-toggle.active + .nav-links {
  display: block; /* Show navigation on small screens */
}

.nav-links a.active {
  font-weight: bold; /* Highlight active navigation link */
}

/* Add styles for hero, about, featured projects sections, etc. */

.hero {
  /* Style your hero section here (background image, text color, etc.) */
}

#about p {
  /* Style your about section paragraph here */
}

#featured-projects {
  /* Style your featured projects section here */
}

.footer {
  background-color: #f1f1f1;
  padding:10px;
  text-align: center;
  margin-top: 0;
  bottom: 0px;
  width: 100%;

  
}
